/* User Custom Fields Style */
.pt-user-table .form-field .pt-text-field {
    width: 25em !important;
}
.pt-user-table .form-field input[type="radio"] {
    width: 16px !important;
    min-width: 16px !important;
}

.tablenav .actions select.backend-dropdown {
    float: none;
    margin-left: 10px;
}

.hide-form-field {
    display: none;
}

.media-loader-wrapper {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
}

.bulk-edit-media {
    position: relative;
}